@media (max-width: 720px) {

    /* ########### HEADER ########### */

    #menu-hamburguer {
        display: block;
        height: 70px;
        padding-left: 20px ;
        position: absolute;
        left: 0;
        height: 16px;
        transform: translateY(-50%);
        top: 50%;
    }

    #menu-hamburguer img {
        height: 16px;
    }

    /* ########### CADASTRO DE CLIENTE ########### */

    .form {
        display: grid;
        grid-template-columns: auto;
    }

    .menu-right {
        display: none;
    }
}